@import "sassstyles";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontText;

}

h1 {
    font-family: $fontTitle;
    font-size: 28px;
}

h2 {
    font-family: $fontText;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-family: $fontText;
    font-weight: 500;
    padding-bottom: 3px;
}

p {
    font-size: 15.043px;
    font-family: $fontText;
    font-weight: 300;
}

header {

    position: relative;
    display: flex;
    flex-direction: column;

    a {

        text-decoration: none;
        color: black;

        .fa-arrow-left {
            position: absolute;
            bottom: 20px;
            left: 20px;
        }

    }

    .logoHeader {
        max-width: 162px;
        margin: 14px auto;
    }

}

main {

    position: relative;

    .banner {

        width: 100%;
        height: 231px;
        object-fit: cover;
        position: relative;
        z-index: -1;

        @media (min-width: 884px) and (max-width: 2000px) {
            object-fit: cover;
            height: 300px;
        }

    }

    section {

        display: flex;
        justify-content: center;

        .background {
            background-color: #F6F6F6;
            width: 100%;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            margin-top: -70px;
            z-index: 0;
            position: relative;
            padding-bottom: 50px;

            @media (min-width: 840px) and (max-width: 2000px) {
                width: 70%;
            }

            .title {
                padding: 32px 17px 0 17px;
                display: grid;
                gap: 24px;
                grid-template-columns: 1fr 10%;
                margin-bottom: 40px;

                @media (min-width: 1130px) and (max-width: 2000px) {
                    padding: 32px 300px 0 300px;
                }

                .heart {

                    position: relative;
                    bottom: 5px;

                    input[type="checkbox"] {
                        display: none;
                    }


                    input[type="checkbox"]+label {
                        position: relative;
                        display: inline-block;
                        font-size: 16px;
                    }

                    input[type="checkbox"]+label:before {
                        content: url("../Images_et_textes_Ohmyfood/Card/Status=Default.png");
                        position: absolute;
                        transition: .5s ease;
                        inset: 0;
                    }

                    input[type="checkbox"]:checked+label:before {
                        border: 1px solid transparent;
                        background-color: transparent;
                    }

                    input[type="checkbox"]:checked+label:after {
                        content: url("../Images_et_textes_Ohmyfood/Card/Status=Liked.png");
                        position: absolute;
                        left: 1px;
                        transition: .5s ease;
                    }
                }
            }

            article {

                display: grid;
                grid-template-rows: 1fr;
                padding: 0 20px;
                row-gap: 12px;
                margin-bottom: 40px;

                @media (min-width: 1130px) and (max-width: 2000px) {
                    display: grid;
                    grid-template-columns: 1fr;
                    padding: 0 210px;

                    @media (min-width: 1130px) and (max-width: 840px) {
                        padding: 0 110px;
                    }
                }

                h2 {
                    padding-bottom: 5px;
                    border-bottom: 3px solid $colorLightGreen;
                    width: 40px;
                }

                .boxeContent {
                    position: relative;
                    padding: 15px;
                    background-color: white;
                    height: 65.8px;
                    border-radius: 20px;
                    overflow: hidden;

                    .repas {

                        h3 {
                            font-size: 18px;
                            font-weight: 500;
                            text-overflow: ellipsis;
                            /* ellipsis works with overflow hidden */
                            overflow: hidden;
                            /* ellipsis works with overflow hidden */
                            white-space: nowrap;
                            width: 100%;
                            transition: width 1s;
                        }

                        .menu {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            transition: width .85s;

                            .recipe {
                                text-overflow: ellipsis;
                                /* ellipsis works with overflow hidden */
                                overflow: hidden;
                                /* ellipsis works with overflow hidden */
                                white-space: nowrap;
                                font-size: 15.043px;
                            }

                            .prix {
                                font-weight: 500;
                            }
                        }

                    }



                    &:hover {
                        // <-- ça c'est boxeContent, quand il est hover

                        .check {
                            // <-- ça c'est .check, à l'intérieur de boxeContent, quand il est hover
                            right: 0;
                        }

                        h3 {
                            width: calc(100% - 55px);
                        }

                        .menu {
                            width: calc(100% - 55px);
                        }
                    }

                }


            }

            .check {
                position: absolute;
                top: 0;
                right: -80px;
                background-color: $colorLightGreen;
                width: 59px;
                height: 69px;
                transition: right .7s;
                fill: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        button {
            display: block;
            @include boutton;
            margin: 0 auto;
            transition: 0.5s opacity;

            &:hover {
                opacity: 0.8;
            }
        }
    }

}


footer {

    padding: 22px 25px;
    background-color: $colorGrey;
    color: white;

    @media (min-width: 884px) and (max-width: 2000px) {
        padding: 30px 25px;
        padding-top: 70px;
    }

    img {
        max-width: 162px;
        padding-bottom: 5px;

        @media (min-width: 884px) and (max-width: 2000px) {
            float: right;
            margin-left: 80px;
        }
    }

    .infos {

        @media (min-width: 884px) and (max-width: 2000px) {
            display: grid;
            grid-template-columns: repeat(4, auto);
            column-gap: 20px;
            justify-content: flex-end;
        }

        .sousinfos {
            display: grid;
            grid-template-columns: 15px auto;
            column-gap: 15px;
        }

        .contact {
            color: white;
            font-size: 15.043px;
            font-weight: 300;
            text-decoration: none;
        }
    }

    div,
    p {
        padding-bottom: 2px;
    }
}